torch==2.0.1
torchvision==0.15.2
transformers==4.37.2
tokenizers==0.15.1
sentencepiece==0.1.99
shortuuid
accelerate==0.21.0
peft==0.4.0
bitsandbytes==0.41.0
pydantic<2,>=1
markdown2[all]
gradio==3.37.0
gradio_client==0.7.0
scikit-learn==1.2.2
requests
httpx==0.24.0
uvicorn
fastapi
einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
protobuf==4.24.4
tiktoken==0.5.2
openai==0.28.0
